.heading {
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    background: rgba(109, 151, 175, 0.7);
    margin: 0px 70px 0px 70px;
    padding: 50px;
}
p1 {
    font-size: 12px
}
.image{
    margin: 20px; 
    width: 600px;
}
body {
    background-color: #f2f0e8;
    text-align: center;
    background: url(http://i.imgur.com/u9Lxe4h.png);
    background-attachment: fixed;
}
.navigationmenu{
    font-size: 17px;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right:70px;
    padding: 0;
    background-color: rgba(203, 240, 242, 0.15);
    
}
.menuitems{
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    
    
}
.galleryimage {
    margin: 5px;
    width: 180px;
    display: inline;
}
.instagram{
    width: 47px;
    margin: 20px; 
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.getintouch{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    margin: 0px 650px 20px 70px;
    text-align: left;
    float: left;
    position: absolute;
    background: rgba(109, 151, 175, 0.7);
    padding: 5px;
    
}
.contactinfo{
    float: right;
    text-align: left;
    margin-right: 70px;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    width: 500px;
    background-color: rgba(203, 240, 242, 0.15);
    padding: 5px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
